src/BeSimple/WsdlToPhp/Tests/Fixtures/wsdl/complexTypeIndicators.wsdl

<?xml version = "1.0" encoding = "utf-8"?>
<wsdl:definitions name="BeSimpleWsdlToPhp"
    targetNamespace="http://wsdl.besim.pl/WsdlToPhp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://wsdl.besim.pl/WsdlToPhp">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://wsdl.besim.pl/WsdlToPhp" elementFormDefault="qualified"
            targetNamespace="http://wsdl.besim.pl/WsdlToPhp">
            <xs:element name="personAll">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="firstname" type="xs:string" />
                        <xs:element name="lastname" type="xs:string" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="personChoice">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="employee" type="xs:string" />
                        <xs:element name="member" type="xs:string" />
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="personSequence">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstname" type="xs:string" />
                        <xs:element name="lastname" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="personMax">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="full_name" type="xs:string" />
                        <xs:element name="child_name" type="xs:string"
                            maxOccurs="10" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="personMin">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="full_name" type="xs:string" />
                        <xs:element name="child_name" type="xs:string"
                            maxOccurs="10" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
</wsdl:definitions>
