src/BeSimple/WsdlToPhp/Tests/Fixtures/wsdl/schemaInclude.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://wsdl.besim.pl/WsdlToPhp2" elementFormDefault="qualified"
    targetNamespace="http://wsdl.besim.pl/WsdlToPhp2">
    <xs:complexType name="personinfo">
        <xs:sequence>
            <xs:element name="firstname" type="xs:string" />
            <xs:element name="lastname" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>