tests/BeSimple/Tests/Fixtures/wsdl/operations.wsdl

<?xml version = "1.0" encoding = "utf-8"?>
<wsdl:definitions name="BillingDataManagementService"
                  targetNamespace="https://test.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:tns="https://test.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:i0="https://test.heartlandpaymentservices.net/BillingDataManagement/V3/BillingDataManagementService"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="https://test.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService"
                   elementFormDefault="qualified"
                   targetNamespace="https://test.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService">
            <xs:element name="AddBlindPayment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BDMS.NewModel" minOccurs="0" name="AddBlindPaymentRequest" nillable="true" type="q1:AddBlindPaymentRequest" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddBlindPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BDMS.NewModel" minOccurs="0" name="AddBlindPaymentResult" nillable="true" type="q2:Response" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DisburseFunds">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DisburseFundsRequest" nillable="true" type="q55:DisburseFundsRequest"
                                    xmlns:q55="http://schemas.datacontract.org/2004/07/BDMS.NewModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DisburseFundsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DisburseFundsResult" nillable="true" type="q56:DisburseFundsResult"
                                    xmlns:q56="http://schemas.datacontract.org/2004/07/BDMS.NewModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="IBillingDataManagementService_AddBlindPayment_InputMessage">
        <wsdl:part name="parameters" element="tns:AddBlindPayment"/>
    </wsdl:message>
    <wsdl:message name="IBillingDataManagementService_AddBlindPayment_OutputMessage">
        <wsdl:part name="parameters" element="tns:AddBlindPaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="IBillingDataManagementService_DisburseFunds_InputMessage">
        <wsdl:part name="parameters" element="tns:DisburseFunds"/>
    </wsdl:message>
    <wsdl:message name="IBillingDataManagementService_DisburseFunds_OutputMessage">
        <wsdl:part name="parameters" element="tns:DisburseFundsResponse"/>
    </wsdl:message>
    <wsdl:portType name="IBillingDataManagementService">
        <wsdl:operation name="AddBlindPayment">
            <wsdl:input
                wsaw:Action="https://test.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService/IBillingDataManagementService/AddBlindPayment"
                message="tns:IBillingDataManagementService_AddBlindPayment_InputMessage"/>
            <wsdl:output
                wsaw:Action="https://test.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService/IBillingDataManagementService/AddBlindPaymentResponse"
                message="tns:IBillingDataManagementService_AddBlindPayment_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="DisburseFunds">
            <wsdl:input
                wsaw:Action="https://test.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService/IBillingDataManagementService/DisburseFunds"
                message="tns:IBillingDataManagementService_DisburseFunds_InputMessage"/>
            <wsdl:output
                wsaw:Action="https://test.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService/IBillingDataManagementService/DisburseFundsResponse"
                message="tns:IBillingDataManagementService_DisburseFunds_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:service name="BillingDataManagementService">
        <wsdl:port name="BasicHttpBinding_IBillingDataManagementService"
                   binding="i0:BasicHttpBinding_IBillingDataManagementService">
            <soap:address
                location="https://testing.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
